* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

#waitlist-table{

}

#waitlist-table thead{
	color: white;
	background-color: black;
}